osx_image: xcode9.3
language: objective-c

env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8

before_install:
  - rvm list
  - rvm install $(cat .ruby-version)
  - brew update
  - brew outdated swiftlint || brew upgrade swiftlint

# Test using Fastlane
script:
  - ./fastlane/travis.sh
